body {
  min-width: 320px;
}

button.navbar-toggler {
  width: 90vw;
  min-width: 290px;
  border-radius: 0;
  background-color: #34637f;
}

.bi-list {
  color: white;
  font-weight: bold;
}

.toggler-label {
  color: white;
  margin-left: 0.5rem;
  padding-top: 0.1rem;
}

/** Setting flex props manually to
prevent conflict with Bootstrap's toggle-hiding **/
@media only screen and (max-width: 768px) {
  button.navbar-toggler {
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
    height: 2.3rem;
  }

  #navbarNav {
    align-self: flex-start;
    margin-left: 5vw;
  }
}

.org-thumbnail-container {
  height: 30%;
  width: inherit;
}

.org-thumbnail-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: green;
}

.org-thumbnail-overlay:hover {
  opacity: 1;
}

.org-thumbnail:hover {
  opacity: 0.75;
}

.donation-category {
  margin: 0.1rem;
  font-size: 0.75rem;
}

.mock-search {
  height: 40rem;
  width: 100%;
  min-width: 290px;
  background-color: #aaa;
}
