body {
  min-width: 320px;
}

.nav-link {
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid #d0d0d0;
}

.marker {
  background-image: url('pin.svg');
  background-size: cover;
  width: 24px;
  height: 32px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* wraps long links in profile views */
.cashDonationLink, .amazonWishlistLink, .volunteerSignupLink, .charityWebsiteLink {
  word-break: break-all;
}

/*
Places an asterisk after required field labels
*/
.required-label::after {
  content: " *";
  color: red;
}

/*
This is to hide elements before Vue.js has loaded
Prevents "flashing" of an empty error list for example
*/
[v-cloak] > * {
  display: none;
}

@media (min-width: 768px) {
    .category-list {
        max-height: 450px;
    }
    .category-col {
        width: 33%;
        margin-right: 18px;
    }

    .org-category-list {
        max-height: 280px;
    }
}
