body {
  min-width: 320px;
}

.nav-link {
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid #d0d0d0;
}

/*
This is to hide elements before Vue.js has loaded
Prevents "flashing" of an empty error list for example
*/
[v-cloak] > * {display: none}
