body {
    min-width: 320px;
}

.nav-link {
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid #d0d0d0;
}

.marker {
    background-image: url("pin.svg");
    background-size: cover;
    width: 24px;
    height: 32px;
    cursor: pointer;
}

.card-logo {
    width: 300px;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

/* wraps long links in profile views */
.cashDonationLink,
.amazonWishlistLink,
.volunteerSignupLink,
.charityWebsiteLink {
    word-break: break-all;
}

/*
Places an asterisk after required field labels
*/
.required-label::after {
    content: " *";
    color: red;
}

/*
This is to hide elements before Vue.js has loaded
Prevents "flashing" of an empty error list for example
*/
[v-cloak] > * {
    display: none;
}

@media (min-width: 768px) {
    .category-list {
        max-height: 450px;
    }
    .category-col {
        width: 33%;
        margin-right: 18px;
    }

    .org-category-list {
        max-height: 280px;
    }
}

/* limits org mission paragraph size */
.org-card-mission {
    max-width: 35em;
}

.donate {
    background: #33637E;
}

.donate h3 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.donate h5 {
    font-weight: 700;
    font-size: 18px;
}

.donate button.reset {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
}

.donate button.reset:hover {
    background-color: #fff;
    transition: 0.3s;
    color: #000;
}

.donate button:focus {
    outline: 0;
}

.donate .form-check-inline {
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 340px;
    width: 100%;
}

.donate .card {
    border-radius: 10px;
}

.donate button.results {
    background: #EE6C15;
    border-radius: 999px;
    border: none;
    color: #fff;
    transition: 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.donate button.results:hover {
    background: #cd5e13;
    /* color: #000; */
    transition: 0.3s
}