{{ define "charityListCard" }}
<!-- Card view markup -->
<div class="card shadow p-3 mb-3 bg-white rounded">
  <div class="row">
    <div class="col-auto">
      <a href="/charity/{{.Id}}">
        <img
          src="{{ .LogoURL }}"
          class="img-fluid"
          width="300"
          alt="Org logo"
        />
      </a>
    </div>
    <div class="col">
      <div class="card-bock">
        <h5 class="card-title"><a href="/charity/{{.Id}}">{{ .Name }}</a></h5>
        <div class="card-text">
          <div class="my-1"><strong>Pick-Up Service:</strong>
              {{ if .Pickup }}Yes{{ else }} No {{ end }}
          </div>
          <div class="my-1"><strong>Dropoff:</strong>
              {{ if .Dropoff }}Yes{{ else }} No {{ end }}
          </div>
        </div>
        <div>
          <i class="bi bi-geo-alt-fill"></i>
          <strong>Address:</strong>
          <em>{{ .Address }}, {{ .City}}, {{ .State }} {{ .ZipCode }}</em>
        </div>
        <div>
          <i class="bi bi-telephone-fill"></i>
          <strong>Phone:</strong>
          <a href="tel:{{.Phone}}">{{ .Phone }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
