<!DOCTYPE html>
<html lang="en">
   {{ template "header" . }}
    <title>ReUseFull</title>
  </head>
  <body>
    {{ template "nav" . }}
    <main>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h5 class="mb-3">Thank you for signing up with Re.Use.Full! You will receive an email shortly asking you to confirm your email address 
                             and a welcome email from our founder!</h5>
            <a href="https://app.reusefull.org/donate">
            <img src="https://reusefullimages.s3.us-east-2.amazonaws.com/find-us-on.png" width=100></a>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    {{ template "footerScripts" .}}
  </body>
</html>
