<!DOCTYPE html>
<html lang="en">
   {{ template "header" . }}
    <title>ReUseFull</title>
  </head>
  <body>
    {{ template "nav" . }}
    <main>
      <div class="container" id="app">
          <div class="col-md-12 mb-3 text-center">
            <h2>Tell us about your charity</h2>
            <p class="fs-5">Step 2 of 3</p>
          </div>
          <div v-cloak>
              <form
                class="row"
                @submit="checkForm"
              >
                <div class="col-md-12 mb-3">
                  <p v-if="errors.length" style="color:red">
                    <b>Please correct the following error(s):</b>
                    <ul>
                      <li style="color:red" v-for="error in errors">${ error }</li>
                    </ul>
                  </p>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="website" class="form-label required-label">Organization Website</label>
                  <input type="text" class="form-control" id="website" v-model="website">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="budget" class="form-label col-12 required-label">Budget Size</label>
                  <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="budget" id="budget1" value="1" v-model="budget">
                    <label class="btn btn-outline-secondary" for="budget1">$0-5k</label>

                    <input type="radio" class="btn-check" name="budget" id="budget2" value="2" v-model="budget">
                    <label class="btn btn-outline-secondary" for="budget2">$6-25k</label>

                    <input type="radio" class="btn-check" name="budget" id="budget3" value="3" v-model="budget">
                    <label class="btn btn-outline-secondary" for="budget3">$26-100k</label>

                    <input type="radio" class="btn-check" name="budget" id="budget4" value="4" v-model="budget">
                    <label class="btn btn-outline-secondary" for="budget4">>$100k</label>
                  </div>
                </div>

                <div class="col-md-12 mb-0 text-left">
                  <p class="fs-6 required-label">Please select a pick-up or drop-off option</p>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dropoff" v-model="dropoff">
                    <label class="form-check-label" for="dropoff">We accept drop-offs</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pickup" v-model="pickup">
                    <label class="form-check-label" for="pickup">We pick up donations</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="faith" v-model="faith">
                    <label class="form-check-label" for="faith">Faith-based charity</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="resell" v-model="resell">
                    <label class="form-check-label" for="resell">We resell items</label>
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="taxID" class="form-label required-label">Tax ID Number</label>
                  <input type="text" class="form-control" id="taxID" v-model="taxID">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="file" class="col-12 form-label">Logo</label>
                  <input type="file" name="file" @change="filePicked" accept="image/png, image/jpeg">
                </div>
                <div class="col-md-12 mb-3">
                  <img :src="logo" height="200" v-if="logo">
                </div>

                <hr>

                <div class="col-md-12 mb-3 text-center">
                  <h3 class="required-label">What type of charity are you?</h3>
                  <p class="fs-5">Select all that apply</p>
                </div>

                <div class="w-100 d-flex flex-column flex-wrap org-category-list">
                {{ range .CharityTypes }}
                <div class="category-col mb-1">
                  <div class="form-check p-1">
                      <input class="form-check-input" type="checkbox" value="{{.Id}}" id="{{.Id}}" v-model="charityTypes">
                      <label for="{{.Id}}" class="form-check-label">{{.Name}}</label>
                  </div>
                </div>
                {{ end }}
                </div>

                <div class="row justify-content-md-center">
                  <div class="col-md-8 mb-1">
                    <label for="other" class="form-label">If other please specify:</label>
                    <input type="text" class="form-control" id="other" v-model="other">
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <label for="mission" class="form-label required-label">Mission</label>
                  <textarea rows="2" class="form-control" id="mission" v-model="mission" maxlength="300"></textarea>
                  <p class="fst-italic">Maximum 300 Characters</p>
                </div>

                <div class="col-md-12 mb-3">
                  <label for="description" class="form-label required-label">Description</label>
                  <textarea rows="4" class="form-control" id="description" v-model="description"></textarea>
                </div>

                <div class="row mt-3 mb-5">
                  <div class="col text-center">
                    <input type="button" class="btn btn-secondary" value="Back" onclick="history.back()">
                    <button type="submit" class="btn btn-primary">Next ></button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </main>
    <footer></footer>
    {{ template "footerScripts" .}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/assets/views/charitySignUp2.js"></script>
  </body>
</html>
