<!DOCTYPE html>
<html lang="en">
   {{ template "header" . }}
    <title>ReUseFull</title>
  </head>
  <body>
    {{ template "nav" . }}
    <main class="container">
      <div class="row align-items-center justify-content-center">
        {{ range .Charities }}
            {{ template "charityListCard" .}}
        {{ end }}
      </div>
    </main>
    <footer></footer>
    {{ template "footerScripts" .}}
  </body>
</html>
