<!DOCTYPE html>
<html lang="en">
   {{ template "header" . }}
    <title>ReUseFull</title>
  </head>
  <body>
    {{ template "nav" . }}
    <main>
      <div class="container" id="app">
          <div class="col-md-12 mb-3 text-center">
            <h3>Tell us about your charity</h3>
            <h5>Step 3 of 3</h5>
          </div>
          <div v-cloak>
              <form
                class="row"
                @submit="checkForm"
              >
                <div class="col-md-12 mb-3">
                  <p v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors">${ error }</li>
                    </ul>
                  </p>
                </div>

                <div class="col-md-12 mb-3 text-center">
                  <h2 class="required-label">What types of items do you accept? </h2>
                  <p>Select all that apply</p>
                </div>

                <div class="col-md-12 mb-3">
                  <input class="form-check-input" type="checkbox" id="newItems" v-model="newItems">
                  <label for="newItems" class="form-label">New items only</label>
                </div>

                <div class="w-100 d-flex flex-column flex-wrap category-list">
                    {{ range .ItemTypes }}
                    <div class="category-col mb-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{.Id}}" id="{{.Id}}" v-model="itemTypes">
                        <label for="{{.Id}}" class="form-label">{{.Name}}</label>
                    </div>
                    </div>
                    {{ end }}
                </div>

                <hr>

                <div class="row justify-content-md-center">
                  <div class="col-md-8 mb-3">
                    <label for="amazon" class="form-label">Amazon wishlist URL</label>
                    <input type="text" class="form-control" id="amazon" v-model="amazon">
                  </div>
                </div>

                <div class="row justify-content-md-center">
                  <div class="col-md-8 mb-3">
                    <label for="cashDonate" class="form-label">Link for cash donations</label>
                    <input type="text" class="form-control" id="cashDonate" v-model="cashDonate">
                  </div>
                </div>

                <div class="row justify-content-md-center">
                  <div class="col-md-8 mb-3">
                    <label for="volunteer" class="form-label">Link for volunteer signup</label>
                    <input type="text" class="form-control" id="volunteer" v-model="volunteer">
                  </div>
                </div>

                <div class="row mt-3 mb-5">
                  <div class="col text-center">
                    <div v-if="!processing">
                      <input type="button" class="btn btn-secondary" value="Back" onclick="history.back()">
                      <button type="submit" class="btn btn-primary">Complete</button>
                    </div>
                    <div v-if="processing">
                      <div class="spinner-border text-info" role="status"></div>
                    </div>
                  </div>
                  <div class="row mt-3 mb-5">
                    <div class="col text-center">
                    <p v-if="serverError" style="color:red">
                      ${serverError}
                    </p>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </main>
    <footer></footer>
    {{ template "footerScripts" .}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/assets/views/charitySignUp3.js"></script>
  </body>
</html>
