<!DOCTYPE html>
<html lang="en">
   {{ template "header" . }}
    <title>ReUseFull</title>
  </head>
  <body>
    {{ template "nav" . }}
    <main class="container">
      <div class="row">
        <div class="col-md-10">
          <h2>{{ .Charity.Name }}</h2>
        </div>

        {{ if .User.CanEdit }}
        <div class="col-md-2">
          <a class="btn btn-outline-secondary" href="/charity/{{.Charity.Id}}/edit">Edit</a>
        </div>
        {{ end }}
      </div>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <img
            src="{{ .Charity.LogoURL }}"
            class="mb-4 img-fluid shadow bg-white rounded"
            width="400"
          >
          <h5><a href="{{ .Charity.Website }}" target="_blank">{{.Charity.Website}}</a></h5>

          <p>
            {{ .Charity.Address }}<br>
            {{ .Charity.City}}, {{ .Charity.State}} {{ .Charity.ZipCode }}
          </p>

          <p>Phone: {{ .Charity.Phone }}</p>
          <p>Contact Name: {{ .Charity.ContactName }}</p>
          <p>Pickup: {{ if .Charity.Pickup }}Yes{{ else }}No{{ end }}</p>
          <p>Dropoff: {{ if .Charity.Dropoff }}Yes{{ else }}No{{ end }}</p>
          {{ if .Charity.CashDonationLink }}
            <p>Cash Donation Link: <a href="{{ .Charity.CashDonationLink }}" target="_blank">{{ .Charity.CashDonationLink }}</a></p>
          {{ end }}
          {{ if .Charity.AmazonWishlist }}
            <p>Amazon Wishlist: <a href="{{ .Charity.AmazonWishlist }}" target="_blank">{{ .Charity.AmazonWishlist }}</a></p>
          {{ end }}
          {{ if .Charity.VolunteerSignup }}            
            <p>Volunteer Signup: <a href="{{ .Charity.VolunteerSignup }}" target="_blank">{{ .Charity.VolunteerSignup }}</a></p>
          {{ end }}

          <h5>Type of Charity</h5>
          <ul>
          {{ range .Charity.CharityTypeDescriptions }}
            <li>{{ .}}</li>
          {{ end }}
          </ul>
        </div>
        <div class="col-md-8">
          <h5>Mission</h5>
          <p>{{ .Charity.Mission }}</p>
          <h5>Description</h5>
          <p>{{ .Charity.Description }}</p>

          <h5>Items Accepted</h5>
          <ul>
          {{ range .Charity.ItemTypeDescriptions }}
            <li>{{ .}}</li>
          {{ end }}
          </ul>
        </div>
        
      </div>

    </main>
    <footer></footer>
    {{ template "footerScripts" .}}
  </body>
</html>
