<!DOCTYPE html>
<html lang="en">
  {{ template "header" . }}
  <body>
    {{ template "nav" . }}
    <main>
        <div class="container" id="app">

          <a href="/donate/step/2">< Refine</a>


          <!-- Results -->
          <div class="row mt-4">
            <h5>Results</h5>
          </div>
          <div class="row shadow p-3 mb-5 bg-white rounded">
            <div class="col align-self-center">
              <!-- Results List -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Organization</th>
                    <th scope="col">Matching Items</th>
                    <th scope="col">Proximity</th>
                    <th scope="col">Size</th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="charity in charities" v-cloak>
                    <th scope="row"><img :src="charity.logoURL" width="200" class="img-fluid"></th>
                    <td>${charity.name}</td>
                    <td>3</td>
                    <td>5-10 Miles</td>
                    <td>National</td>
                    <td>Housing</td>
                    <td><a :href="`/charity/${charity.id}`" class="btn btn-secondary">Learn More</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


      </div>  <!-- container -->
    </main>
    {{ template "footerScripts" .}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/assets/views/donate.js"></script>
  </body>
</html>
