<!DOCTYPE html>
<html lang="en">
  {{ template "header" . }}
  <body>
    {{ template "nav" . }}
    <main>
        <div class="pt-4 donate" id="app">
          <!-- Results -->
          <div class="row p-3 mb-5 d-flex justify-content-center" v-cloak>
            <div class="col" style="max-width: 1300px;">
              <div class="row">
                <div class="col">
                <div v-if="loading">
                  <div class="spinner-border text-info mb-3" role="status"></div>
                </div>
                <a href="/donate" class="update">&lsaquo; Update selected filters</a>
                  <h3 style="color: #fff; margin-top: 40px">We found ${charities.length} charities that match your selections</h3>
                  <div id="map" style='height: 500px;'></div>
                </div>
              </div>
              <div class="container w-100 p-0 m-0 mt-4">
                <div class="row gx-4 gy-0">
                  <charity-card
                    v-for="charity in charities"
                    v-bind:key="charity.id"
                    v-bind:charity="charity"
                  >
                  </charity-card>
                <div />
              <div />
            </div>
          </div>
      </div>  <!-- container -->
    </main>
    {{ template "footerScripts" .}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/assets/views/donateResults.js"></script>
  </body>
</html>
