<!DOCTYPE html>
<html lang="en">
   {{ template "header" . }}
   <body>
       {{ template "nav" . }}
       <a href="/charitylist">Charity List</a>

       {{ template "footerScripts" . }}
   </body>
</html>
