<!DOCTYPE html>
<html lang="en">
   {{ template "header" . }}
   <body>
       {{ template "nav" . }}
       <a href="/charitylist">Charity List</a>

       <footer>
         <div class="navbar fixed-bottom" style="background-color: #252422">
           <div class="row justify-content-center text-center">
             <div class="col-3">
               <img src="/assets/images/reusefull_poweredby.png" width="300">
             </div>
             <div class="col-3">
               <h5>Sign up for the Re.Use.Full Newsletter</h5>
                Don’t miss out on the latest news and updates! Sign up for our newsletter today!

                Get Social with Re.Use.Full
             </div>
             <div class="col-3 align-self-center">
                <h5>Sponsored by</h5>
                <img src="/assets/images/junkluggers.png" class="img-fluid">
             </div>

             <div class="col-12" style="color: white">
               Home
               Get Involved
               Partners Only
               Charity Partner List
               Terms and Privacy Notice
             </div>
           </div>
         </div>
       </footer>

       {{ template "footerScripts" . }}
   </body>
</html>
