<!DOCTYPE html>
<html lang="en">
   {{ template "header" . }}
   <body>
       {{ template "nav" . }}
       <a href="/charitylist">Charity List</a>
<p>Version 2023.12.19</p>
       {{ template "footerScripts" . }}
   </body>
</html>
