{{ define "nav" }}
<header>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <div class="navbar-nav me-auto">
            <a class="navbar-brand" href="/">
              <img
                width="100"
                src="/assets/images/reusefull-logo-175.png"
                class="d-inline-block align-top"
                alt="Re.Use.Full"
              />
            </a>
          </div>
        </div>
        <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://reusefull.org">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/donate/step/1">Donate</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://reusefull.org/faqs/">FAQs</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                For Charity Partners
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/charity/signup/step/1">Signup</a></li>
                <li><a class="dropdown-item" href="/profile/edit">Update Profile</a></li>
                <li><a class="dropdown-item" href="https://reusefull.org/become-a-charity-partner/">Charity Partner FAQs</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropdown" role="button" data-bs-toggle="dropdown">
                About Us
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://reusefull.org/get-involved/">Get Involved</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="btn btn-outline-info" href="/auth/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
{{ end }}
