{{ define "nav" }}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVHCZMJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light mb-3">
      <div class="container-fluid">
        <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
          <div class="navbar-nav me-auto">
            <a class="navbar-brand" href="https://www.reusefull.org">
              <img
                width="150"
                src="https://reusefull.s3.us-east-2.amazonaws.com/reusefull-logo-sm.png"
                class="d-inline-block align-top"
                alt="Re.Use.Full"
              />
            </a>
          </div>
        </div>
        <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse order-3 dual-collapse2">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://reusefull.org">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="donateToggle" role="button" data-bs-toggle="dropdown">
                Donors
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/donate">Donate</a></li>
                <li><a class="dropdown-item" href="https://reusefull.org/faqs/donor-faqs/">Donor FAQs</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="getInvolvedToggle" role="button" data-bs-toggle="dropdown">
                Get Involved
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://reusefull.org/get-involved/">Get Involved</a></li>
                <li><a class="dropdown-item" href="https://reusefull.org/contact-us/">Contact Us</a></li>
                <li><a class="dropdown-item" href="https://reusefull.org/sign-up-for-our-newsletter/">Sign up for our newsletter!</a></li>
                <li><a class="dropdown-item" href="https://reusefull.org/events/">All Events</a></li>
                <li><a class="dropdown-item" href="https://reusefull.org/signup-is-open/">Re.Use.Full Reverse Scavenger Hunt</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="forCharityPartnersDropdown" role="button" data-bs-toggle="dropdown">
                For Charity Partners
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://app.reusefull.org/charity/signup/step/1">Signup</a></li>
                <li><a class="dropdown-item" href="https://app.reusefull.org/auth/login">Update Profile</a></li>
                <li><a class="dropdown-item" href="https://reusefull.org/become-a-charity-partner/">Charity Partner FAQs</a></li>
                <li><a class="dropdown-item" href="https://reusefull.org/charity-partner-info-for-un-dumpster-day/">Un-Dumpster Day</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link text-nowrap" href="https://reusefull.org/about-us">About Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-nowrap" href="https://reusefull.org/blog">Blog</a>
            </li>

            {{ if .User.Admin }}
            <li class="nav-item mr-2">
                <a class="btn btn-outline-primary mx-2" href="/admin">Admin Area</a>
            </li>
            {{ else if .User.LoggedIn }}
            <li class="nav-item mr-2">
                <a class="btn btn-outline-secondary mx-2" href="/charity/{{.User.Charity}}/edit">Edit Profile</a>
            </li>
            {{ else }}
            <li class="nav-item mr-2">
                <a class="btn btn-primary mx-2" href="/charity/signup/step/1">Charity Signup</a>
            </li>
            {{ end }}


            <li class="nav-item">
              {{ if .User.LoggedIn }}
              <a class="btn btn-outline-secondary" href="/auth/logout"><i class="bi bi-box-arrow-left p-1"></i>Logout</a>
              {{ else }}
              <a class="btn btn-outline-info" href="/auth/login"><i class="bi bi-person p-1"></i>Login</a>
              {{ end }}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
{{ end }}
